.banner-welcome{
    background-image: 
    url(../images/banner.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 80vh;
    min-width: 100vw;
    
}