// COLORS 
$primary : #6f42c1;

//FONT FAMILY
$font-family-sans-serif: "Titillium", system-ui , -apple-system , Roboto, Menlo;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.5 ;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.563;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base ;

$spacer: 1.5rem;
$spacers: (
    0: 0,
    1: $spacer * .333,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 2,
    5: $spacer * 3,
    6: $spacer * 4,
);